doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet',type="text/css", href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',type="text/css", href='/css/user.css')
    link(rel='stylesheet',type="text/css", href='/css/navbar.css')
    link(href='/opensans-light/fonts.css', type='text/css', rel='stylesheet')
    link(rel="stylesheet",type="text/css", href="/css/fonts/opensans-regular/fonts.css")
    link(rel="stylesheet",type="text/css", href="/css/start.css")
    script(type="text/javascript",src='/bootstrap/dist/js/bootstrap.min.js')
    script(type="text/javascript",src="jquery/dist/jquery.min.js")
    script(type="text/javascript",src='/bootstrap/js/dropdown.js')
    script(type="text/javascript",src='/bootstrap/js/collapse.js')
    script(type="text/javascript",src='/bootstrap/js/modal.js')
    title= username
  body
    block content
