.container.start-wrapper
    .row
        .col-lg-6.col-md-6.col-sm-6.hidden-xs
            img.img-responsive.center-block(width="350" src='/images/default/imageForStartPage.png', alt='Phone')
        .col-lg-6.col-md-6.col-sm-6
           .panel.panel-default.start-wrapper-panel
              .panel-body
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      img.img-responsive(src='/images/verbalLogo.jpg', alt='Logo')
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                       a.btn.btn-primary.btn-lg.btn-block(href='/login') Войти
                       a.btn.btn-default.btn-lg.btn-block(href='/register') Зарегистрироваться
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12